@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Shizuru&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}
body{
    background: url(../public/fondo.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    font-family: 'M PLUS 1p', sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Shizuru', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.main{
    color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    padding: 1em;
}

.auth > header{
    background-color: rgba(0, 0, 0, 0.653);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    height: 10vh;
    box-shadow: 0px 0px 10px white;

}
.auth > header > img{
    width: 50px;
    margin-right: 1em;
}

.grid-container{
    background-color: rgba(0, 0, 0, 0.653);
    box-shadow: 0px 0px 10px white;
    border-radius: 1em;
    padding: 1em;
    min-height: 500px;
}

.container-form{
    background-color: rgba(0, 0, 0, 0.653);
    box-shadow: 0px 0px 10px white;
    width: 50%;
    margin: auto auto;
    padding: 1.5em;
    border-radius: 1em;
}

input {
    background-color: rgba(0, 0, 0, 0.653) !important;
    color: white !important;
}

nav{
    background-color: rgba(0, 0, 0, 0.653);
    box-shadow: 0px 0px 6px white;
    border-radius: 1em;
}
a{
    text-decoration: none;
    list-style: none;
}

.movie-card{
    background-color: black;
    margin-right: 1em;
    width: 23%;
}

.justify{
    text-align: justify !important;
}

@media (max-width: 1000px){
    .movie-card{width: 30%;}
}

@media (max-width: 700px){
    .container-form{ width: 65%; }
    .movie-card{width: 45%;}
}

@media (max-width: 460px){
    .container-form{ width: 90%; }
    .movie-card{width: 90%;}
}